<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  	<display-name>computer-database</display-name>

  	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
		</jsp-property-group>
	</jsp-config>
	
	<servlet>
		<servlet-name>ListComputers</servlet-name>
		<servlet-class>main.java.com.excilys.servlet.ListComputers</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AddComputer</servlet-name>
		<servlet-class>main.java.com.excilys.servlet.AddComputer</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>EditComputer</servlet-name>
		<servlet-class>main.java.com.excilys.servlet.EditComputer</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ListComputers</servlet-name>
		<url-pattern>/listComputers</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AddComputer</servlet-name>
		<url-pattern>/addComputer</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>EditComputer</servlet-name>
		<url-pattern>/editComputer</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>
</web-app>